name: "CI"
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: check
        uses: actions/checkout@v3
      
      - name: lint
        run: |
          echo "init"
          sudo apt-get install -y cppcheck
          cppcheck --enable=all --suppress=missingIncludeSystem
  
